@page
@using Kasta.Shared
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mb-3">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <div class="form-check">
                    <input asp-for="Input.ShowFilePreviewInHome" class="form-check-input" id="profile-showFilePreviewInHome" />
                    <label asp-for="Input.ShowFilePreviewInHome" for="profile-showFilePreviewInHome" class="form-check-label"></label>
                    <div asp-validation-for="Input.ShowFilePreviewInHome" class="invalid-feedback"></div>
                    <div class="form-text" id="profile-showFilePreviewInHome-help">
                        File Previews will still be generated (if possible), but preview images will not be shown in the file list.
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Theme" class="form-select" id="profile-theme">
                    @foreach (UserProfileThemeKind kind in Enum.GetValues<UserProfileThemeKind>())
                    {
                        if (kind == Model.Input.Theme)
                        {
                            <option value="@kind.ToString()" selected>@kind.ToDescriptionString(kind.ToString())</option>
                        }
                        else
                        {
                            <option value="@kind.ToString()">@kind.ToDescriptionString(kind.ToString())</option>
                        }
                    }
                </select>
                <label asp-for="Input.Theme" for="profile-theme"></label>
                <div asp-validation-for="Input.Theme" class="invalid-feedback"></div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-success">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}