@page
@using Kasta.Shared
@using Kasta.Web
@model LoginModel
@inject SystemSettingsProxy SystemSettings
@inject KastaConfig KastaConfig

@{
    ViewData["Title"] = "Log in";
    ViewData["Navbar"] = false;
    var appTitle = SystemSettings.EnableCustomBranding && !string.IsNullOrEmpty(SystemSettings.CustomBrandingTitle)
        ? SystemSettings.CustomBrandingTitle : "Kasta";
}

<div class="d-flex justify-content-center mt-5">
    <div class="col-md-4">
        <div class="row">
            <h4>@appTitle</h4>
        </div>
        <form id="account" method="post">
            <div class="row login-page-inputs">
                <input asp-for="Input.Email"
                       type="email"
                       class="form-control rounded-top"
                       autocomplete="section-login username"
                       aria-required="true"
                       placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password"
                       type="password"
                       class="form-control rounded-bottom"
                       autocomplete="section-login current-password"
                       aria-required="true"
                       placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="row mt-1">
                <div class="d-flex justify-content-between mt-1">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
            </div>
            <div class="row">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                <div class="text-center mt-2">
                    Missing confirmation email? <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend it</a>
                </div>
                @if (SystemSettings.EnableUserRegister)
                {
                    <div class="text-center mt-2">
                        New user? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create account</a>
                    </div>
                }
            </div>
        </form>
        @if (Model.ExternalLogins.Count > 0)
        {
            <div class="row mt-4 text-center">
                <strong>Login with external service</strong>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        var btnClass = "btn";
                        var styleContent = "";
                        var styleCfg = KastaConfig.Auth?.GetStyleForAuthId(provider.Name);
                        if (string.IsNullOrEmpty(styleCfg?.Class?.Trim()))
                        {
                            btnClass += " btn-primary";
                        }
                        else
                        {
                            btnClass += " " + styleCfg.Class.Trim();
                        }

                        if (!string.IsNullOrEmpty(styleCfg?.BackgroundColor?.Trim()))
                        {
                            styleContent += $"background: {styleCfg.BackgroundColor.Trim()};";
                        }
                        if (!string.IsNullOrEmpty(styleCfg?.TextColor?.Trim()))
                        {
                            styleContent += $"color: {styleCfg.TextColor.Trim()};";
                        }
                        
                        <button type="submit" class="@btnClass" style="@styleContent" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        <br/>
                    }
                </form>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
