@using Kasta.Web.Areas.Admin.Models.User
@model RoleDetailsComponentViewModel

<form hx-post="@Url.Action("EditUserRolesComponentPost", "User", new { area = "Admin", userId = Model.UserId })"
      hx-target="this"
      hx-swap="outerHTML"
      hx-indicator=".htmx-indicator"
      method="post"
      enctype="multipart/form-data">

    @await Component.InvokeAsync("Alert", Model);
    
    <ul class="list-group">
        @foreach (var (roleId, roleName) in Model.Roles)
        {
            <li class="list-group-item">
                @if (Model.UserRoleIds.Contains(roleId))
                {
                    <input class="form-check-input me-1" type="checkbox" name="@roleId" value="true" aria-label="@roleName" checked />
                }
                else
                {
                    <input class="form-check-input me-1" type="checkbox" name="@roleId" value="true" aria-label="@roleName" />
                }
                @roleName
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-success mt-3">
        <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Save
    </button>
</form>