@using Microsoft.AspNetCore.Identity
@using Kasta.Data
@using Kasta.Data.Models
@using Kasta.Web.Helpers
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _db
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@model FileListViewModel

@{
    ViewData["Title"] = "Files";
    Layout = "_Layout";
    var userModel = await UserManager.GetUserAsync(User);
}

<div class="card shadow-sm">
    <div class="card-body">
        <table class="table-inline">
            <tr>
            <th>Space Used</th>
            <td>@Model.SpaceUsed</td>
            @if (!string.IsNullOrEmpty(Model.SpaceAvailable))
            {
                <th>Space Available</th>
                <td>@Model.SpaceAvailable</td>
            }
        </table>
        
        <div class="row">
            <div class="col-md-4 mb-3 d-flex justify-content-between justify-content-md-start">
                <form class="mr-1" asp-controller="Home" asp-action="Index">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search" placeholder="Search"/>
                        <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <nav>
                    <ul class="pagination">
                        @if (Model.Page > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-search="@Model.SearchQuery" aria-label="Previous">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                            </li>
                        }
                        @if (!Model.IsLastPage)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-search="@Model.SearchQuery" aria-label="Next">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 mb-3 d-flex justify-content-md-end justify-content-between">
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Upload">
                    <i class="bi bi-upload"></i>
                    Upload
                </a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th colspan="2">Filename</th>
                <th>Size</th>
                <th>Created At</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var file in Model.Files)
            {
                string targetId = file.Id;
                if (!string.IsNullOrEmpty(file.ShortUrl))
                {
                    targetId = file.ShortUrl;
                }

                var previewUrl = file.GetPreviewUrl();
                var linkUrl = file.GetDetailsUrl();

                <tr>
                    @if (previewUrl != null)
                    {
                        <td>
                            <center><img src="@previewUrl" style="max-height: 50px;" alt="Preview of image." height="50"/></center>
                        </td>
                    }
                    else
                    {
                        <td>
                            @if (!string.IsNullOrEmpty(file.MimeType))
                            {
                                var idx = file.MimeType.IndexOf('/');
                                string a = file.MimeType;
                                string? b = null;
                                if (idx != -1)
                                {
                                    a = file.MimeType.Substring(0, idx);
                                    b = file.MimeType.Substring(idx + 1);
                                }

                                string ident = FileHelper.GetBootstrapIcon(file);

                                <center>
                                    <i class="bi bi-@ident"></i>
                                </center>
                            }
                        </td>
                    }
                    <td>
                        <a href="@linkUrl">
                            @if (string.IsNullOrEmpty(file.Filename))
                            {
                                @file.Id
                            }
                            else
                            {
                                @file.Filename
                            }
                        </a>
                    </td>
                    <td>
                        @SizeHelper.BytesToString(file.Size)
                    </td>
                    <td>
                        @file.CreatedAt
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-secondary"
                                asp-controller="File"
                                asp-action="Details"
                                asp-route-id="@targetId"
                                title="View Details">
                                <i class="bi bi-info-circle"></i>
                            </a>
                            <a class="btn btn-sm btn-success"
                                href="javascript:void(0)"
                                title="Copy Link"
                                data-clipboard-text="@file.GetDetailsUrl()">
                                <i class="bi bi-link-45deg"></i>
                            </a>
                            <a class="btn btn-sm btn-primary"
                                href="@file.GetDownloadUrl()"
                                target="_blank"
                                title="Download">
                                <i class="bi bi-cloud-download"></i>
                            </a>
                            <a class="btn btn-sm btn-danger"
                                asp-controller="Home"
                                asp-action="DeleteFile"
                                asp-route-id="@file.Id"
                                title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
