@using Kasta.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Database

@{
    ViewData["Title"] = "Audit - Admin";
    ViewData["CurrentNavItem"] = "admin-audit";
    Layout = "_Layout";
}

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Table</th>
            <th>Kind</th>
            <th>Id</th>
            <th>By</th>
            <th>At</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var master in Database.Audit.Include(e => e.CreatedByUser).ToList())
        {
            <tr>
                <th>@master.EntityName</th>
                <td>@master.Kind</td>
                <td><code>@master.PrimaryKey</code></td>
                <td>@(master.CreatedByUser.UserName)</td>
                <td>@(master.CreatedAt.ToString("s"))</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>