@using Microsoft.AspNetCore.Identity
@using kate.FileShare.Data
@using kate.FileShare.Data.Models
@using kate.FileShare.Helpers
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _db
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@model FileListViewModel

@{
    ViewData["Title"] = "Files";
    var userModel = await UserManager.GetUserAsync(User);
}

    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table-inline">
                <tr>
                <th>Space Used</th>
                <td>@Model.SpaceUsed</td>
                @if (!string.IsNullOrEmpty(Model.SpaceAvailable))
                {
                    <th>Space Available</th>
                    <td>@Model.SpaceAvailable</td>
                }
            </table>
            
            <div class="row">
                <div class="col-md-4 mb-3 d-flex justify-content-between justify-content-md-start">
                    <form class="mr-1" asp-controller="Home" asp-action="Index">
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" placeholder="Search"/>
                            <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <nav>
                        <ul class="pagination">
                            @if (Model.Page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-search="@Model.SearchQuery" aria-label="Previous">
                                        <i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>
                            }
                            @if (!Model.IsLastPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-search="@Model.SearchQuery" aria-label="Next">
                                        <i class="bi bi-chevron-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 mb-3 d-flex justify-content-md-end justify-content-between">
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Upload">Upload</a>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">Filename</th>
                    <th>Size</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var file in Model.Files)
                {
                    var relativeFileUrl = $"/f/{file.Id}";
                    if (!string.IsNullOrEmpty(file.ShortUrl))
                    {
                        relativeFileUrl = $"/f/{file.ShortUrl}";
                    }

                    var showPreview = false;
                    var linkUrl = relativeFileUrl;

                    if (file.Preview != null && file.Preview.RelativeLocation != file.RelativeLocation)
                    {
                        relativeFileUrl += "?preview=true";
                        showPreview = true;
                    }
                    <tr>
                        @if (showPreview)
                        {
                            <td>
                                <center><img src="@relativeFileUrl" style="max-height: 50px; max-width: 50px" alt="Preview of image."/></center>
                            </td>
                        }
                        else
                        {
                            <td>
                                <center>
                                    @if (file.MimeType?.StartsWith("video/") ?? false)
                                    {
                                        <i class="bi bi-film"></i>
                                    }
                                </center>
                            </td>
                        }
                        <td>
                            <a href="@linkUrl">
                                @if (string.IsNullOrEmpty(file.Filename))
                                {
                                    @file.Id
                                }
                                else
                                {
                                    @file.Filename
                                }
                            </a>
                        </td>
                        <td>
                            @SizeHelper.BytesToString(file.Size)
                        </td>
                        <td>
                            @file.CreatedAt
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger"
                               asp-controller="Home"
                               asp-action="DeleteFile"
                               asp-route-id="@file.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
